*.class
*.log

project/project
project/target
target
.history
.idea
*.iml
.idea_modules
.classpath
.project
.settings
.bsp/

# temp files
.~*
*~
*.orig
*.marks

# eclipse
.scala_dependencies
.buildpath
.cache
.target
target/

.DS_Store
*_git

